{% extends "base.html" %}
{% block title %}
    Feed principal
{% endblock %}

{% block head_tail %}
    <style type="text/css">
        .post-picture-text {
            margin-left: 160px;
        }
        .image-cover {
            position: relative;
            min-height: 310px;
            min-width: 1170px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: {{ facebook.cover_x}}em -{{ facebook.cover_y }}em;
            background-image: url('{{ facebook.cover_url | safe }}');
        }
        .image-cover > h1 {
            position: absolute;
            top: 200px;
            left: 26px;
            background: rgba(0, 0, 0, 0.75);
            padding: 4px 8px;
            color: white;
            margin: 0;
        }
        .media-avatar {
            width: 140px;
        }
    </style>
{% endblock %}

{% block content %}
{% if facebook %}
<div class="jumbotron container image-cover">
    <img src="" style="width: 100%"></img>
    <h1>{{ facebook.full_name }}</h1>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
        {% if facebook %}
            <img src="{{ facebook.image_url }}" class="center-block img-responsive img-thumbnail media-avatar">
            <div class="panel panel-primary facebook-post">
                <div class="panel-heading">
                    New post
                </div>
                <form action="{{ url_for('feed.post_facebook') }}" method="POST">
                    <div class="panel-body">
                        <textarea name="message" required style="width: 100%; height: 5em;"></textarea>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">
                            Post
                        </button>
                    </div>
                </form>
            </div>
            {% for post in fb_posts %}
                <div class="panel panel-default facebook-post">
                    <div class="panel-heading">
                        {% if post.story %}
                            {{ post.story }}
                        {% else %}
                            {{ facebook.full_name }} posted:
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if post.picture %}
                            <a href="{{ post.link }}">
                                <img src="{{ post.picture }}" class=" pull-left"></img>
                            </a>
                        {% endif %}
                        <p class="{{ 'post-picture-text' if post.picture }}">
                            {{ post.message }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if twitter %}
        <div class="col-md-6">
            <img src="{{ twitter.image_url }}" class="center-block img-responsive img-thumbnail media-avatar">
            <a class="twitter-timeline"  href="https://twitter.com/{{ twitter.full_name }}" data-widget-id="646837097211523073"
              data-tweet-limit="20" height='5000'>Tweets by {{ twitter.display_name }}</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block tail %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">$(function() {$('#twitter-widget-0').height(0);});</script>
{% endblock %}

