{% extends "base.html" %}
{% block title %}
    Feed principal
{% endblock %}

{% block head_tail %}
    <style type="text/css">
        .post-picture-text {
            margin-left: 160px;
        }
        .image-cover {
            position: relative;
            min-height: 310px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: {{ fb_connection.cover_x}}em -{{ fb_connection.cover_y }}em;
            background-image: url('{{ fb_connection.cover_url | safe }}');
        }
        .image-cover > h1 {
            position: absolute;
            top: 200px;
            left: 26px;
            background: rgba(0, 0, 0, 0.75);
            padding: 4px 8px;
            color: white;
            margin: 0;
        }
        .media-avatar {
            position: absolute;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 0);
            width: 140px;
        }
        .facebook-post:nth-of-type(1) {
            margin-top: 160px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="jumbotron container image-cover">
    <img src="" style="width: 100%"></img>
    <h1>{{ fb_connection.full_name }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ fb_connection.image_url }}" class="media-avatar img-thumbnail">
            {% for post in fb_posts %}
                <div class="panel panel-default facebook-post">
                    <div class="panel-heading">
                        {% if post.story %}
                            {{ post.story }}
                        {% else %}
                            {{ fb_connection.full_name }} posted:
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if post.picture %}
                            <a href="{{ post.link }}">
                                <img src="{{ post.picture }}" class=" pull-left"></img>
                            </a>
                        {% endif %}
                        <p class="{{ 'post-picture-text' if post.picture }}">
                            {{ post.message }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2>Twitter</h2>
            <a class="twitter-timeline"  href="https://twitter.com/HardDiskD" data-widget-id="646837097211523073"
              data-tweet-limit="20">>Tweets by @HardDiskD</a>
        </div>
    </div>
</div>
{% endblock %}

{% block tail %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

