{% extends "base.html" %}
{% block title %}
    Feed principal
{% endblock %}

{% block head_tail %}
    <style type="text/css">
        .post-picture-text {
            margin-left: 160px;
        }
        .image-cover {
            position: relative;
            min-height: 310px;
            max-width: 1145px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: {{ facebook.cover_x}}em -{{ facebook.cover_y }}em;
            background-image: url('{{ facebook.cover_url | safe }}');
        }
        .image-cover > h1 {
            position: absolute;
            top: 200px;
            left: 26px;
            background: rgba(0, 0, 0, 0.75);
            padding: 4px 8px;
            color: white;
            margin: 0;
        }
        .media-avatar {
            width: 140px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if facebook %}
    <div class="jumbotron container image-cover">
        <img src="" style="width: 100%"></img>
        <h1>{{ facebook.full_name }}</h1>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
        {% if facebook %}
            <img src="{{ facebook.image_url }}" class="center-block img-responsive img-thumbnail media-avatar">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New post
                </div>
                <form action="{{ url_for('feed.post_facebook') }}" method="POST">
                    <div class="panel-body">
                        <textarea name="message" required style="width: 100%; height: 5em;"></textarea>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">
                            Post
                        </button>
                    </div>
                </form>
            </div>
            {% for post in fb_posts %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if post.story %}
                            {{ post.story }}
                        {% else %}
                            {{ facebook.full_name }} posted:
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if post.picture %}
                            <a href="{{ post.link }}">
                                <img src="{{ post.picture }}" class=" pull-left"></img>
                            </a>
                        {% endif %}
                        <p class="{{ 'post-picture-text' if post.picture }}">
                            {{ post.message }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="col-md-6">
            {% if twitter %}
            <img src="{{ twitter.image_url }}" class="center-block img-responsive img-thumbnail media-avatar">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New tweet
                </div>
                <form action="{{ url_for('feed.post_twitter') }}" method="POST">
                    <div class="panel-body">
                        <textarea name="message" required style="width: 100%; height: 5em;"></textarea>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">
                            Tweet
                        </button>
                    </div>
                </form>
            </div>
            {% for tweet in tweets %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ twitter.display_name }} {% if tweet.GetRetweeted() %}re{% endif %}tweeted:
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ tweet.GetText() }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}


