{% extends "base.html" %}

{% macro show_provider_button(provider_id, display_name, conn) %}
    {% if conn %}
    <form method="POST" action="{{ url_for('social.remove_connection', provider_id=conn.provider_id, provider_user_id=conn.provider_user_id) }}">
        <button type="submit" class="btn btn-block btn-social btn-{{ provider_id }}">
            <i class="fa fa-{{ provider_id }}"></i>
            <span>
                Disconnect {{ display_name }}
            </span>
        </button>
    </form>
    {% else %}
    <form action="{{ url_for('social.connect', provider_id=provider_id) }}" method="POST">
        <button type="submit" class="btn btn-block btn-social btn-{{ provider_id }}">
            <i class="fa fa-{{ provider_id }}"></i>
            <span>
                Connect {{ display_name }}
            </span>
        </button>
    </form>
    {% endif %}
{% endmacro %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {{ show_provider_button('twitter', 'Twitter', twitter_conn) }}
            {{ show_provider_button('facebook', 'Facebook', facebook_conn) }}
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Followed and Followers
                </div>
                {% if current_user.followers %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>E-mail</th>
                            <th>Unfollow</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for follower in current_user.followers %}
                        <tr>
                            <td style="vertical-align: middle">
                                <a href="{{ url_for('feed.index', user_email=follower.email) }}">
                                    {{ follower.email }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('feed.unfollow', email=follower.email) }}" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Follow people to build your following. People you follow also automatically follow you.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
