{% extends "base.html" %}

{% macro show_provider_button(provider_id, display_name, conn) %}
    {% if conn %}
    <form method="POST" action="{{ url_for('social.remove_connection', provider_id=conn.provider_id, provider_user_id=conn.provider_user_id) }}">
        <button type="submit" class="btn btn-block btn-social btn-{{ provider_id }}">
            <i class="fa fa-{{ provider_id }}"></i>
            <span>
                Disconnect {{ display_name }}
            </span>
        </button>
    </form>
    {% else %}
    <form action="{{ url_for('social.connect', provider_id=provider_id) }}" method="POST">
        <button type="submit" class="btn btn-block btn-social btn-{{ provider_id }}">
            <i class="fa fa-{{ provider_id }}"></i>
            <span>
                Connect {{ display_name }}
            </span>
        </button>
    </form>
    {% endif %}
{% endmacro %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {{ show_provider_button('twitter', 'Twitter', twitter_conn) }}
            {{ show_provider_button('facebook', 'Facebook', facebook_conn) }}
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}
