<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Facetweet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
        .content {
            margin-top: 80px;
        }
    </style>
    {% block head_tail %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Facetweet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right" style="margin-top: 7px">
        {% if not current_user.is_anonymous() %}
            <a href="{{ url_for('feed.profile') }} " class="btn btn-default">
                Profile
                <i class="glyphicon glyphicon-cog"></i>
            </a>
            <a href="{{ url_for_security('logout') }} " class="btn btn-danger">
                Logout
                <i class="glyphicon glyphicon-off"></i>
            </a>
        {% else %}
            <a href="{{ url_for_security('login') }}" class="btn btn-default">
                Login
                <i class="glyphicon glyphicon-arrow-right"></i>
            </a>
            <a href="{{ url_for_security('register') }}" class="btn btn-success">
                Register
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        {% endif %}
        </div>

      </div>
    </nav>
    <div class="container content">
        {% include "security/_messages.html" %}
        {% block content %}

        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% block tail %}
    {% endblock %}
  </body>
</html>
